@font-face {
    font-family: 'Bai Jamjuree';
    src: local('Bai Jamjuree'), url('./BaiJamjuree-Regular.ttf') format('opentype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: local('Bai Jamjuree'), url('./BaiJamjuree-Bold.ttf') format('opentype');
    font-weight: 700; 
    font-style: normal;
}
